/* -- Layout -- */
// https://gutenberg.10up.com/guides/handeling-block-spacing#providing-sensible-defaults

/* 
 * Global layout spacing
 */

.alignfull {
    margin-block-start: var(--wp--preset--spacing--x-large);
}

.alignfull.has-background + .alignfull.has-background {
    margin-block-start: 0;
}

.site-header > *,
.site-footer > * {
    margin-block-start: 0;
}

/*
 * Block spacing
 */
.wp-block-cover,
.has-background {
	padding: var(--wp--preset--spacing--medium);

	&.alignfull {
		 padding-block: var(--wp--preset--spacing--x-large);
	}
}


/*
 * Large container spacing
 */

.site-content > *,
article.type-post > *,
article.type-page > *  {
    margin-block-start: var(--wp--preset--spacing--x-large)
}

/*
 * Archive spacing
 */
.wp-block-query .is-layout-grid {
    grid-row-gap: var(--wp--preset--spacing--large);
}

/*
 * Pagination spacing
 */
.archive-pagination,
.adjacent-entry-pagination {
    padding-top: var(--wp--preset--spacing--x-large);
    margin-block-start: 0;
}



/*
 * Header Sapcing
 */

.header-base {
    padding-block: var(--wp--preset--spacing--small);
}


/*
 * Footer Sapcing
 */

.footer-details {
    padding-top: var(--wp--preset--spacing--large);
    padding-bottom: var(--wp--preset--spacing--small);
}

.footer-base {
    padding-block: var(--wp--preset--spacing--small);
}