.wp-block-button {

	.wp-block-button__link {
		align-items: center;
		display: inline-flex;
		justify-content: center;
		position: relative;
		z-index: 1;

		&:disabled,
		&[disabled] {
			cursor: not-allowed;
			opacity: 0.15;
			pointer-events: none;
		}
	}
	
}