.wp-block-button {

	.wp-block-button__link {
		border-radius: 0;
		align-items: center;
		display: inline-flex;
		justify-content: center;
		position: relative;
		z-index: 1;

		&:disabled,
		&[disabled] {
			cursor: not-allowed;
			opacity: 0.15;
			pointer-events: none;
		}

	}
	
	// Block Styles
	&.is-style-secondary {
		.wp-block-button__link {
			background-color: var(--wp--preset--color--neutral);
			color: var(--wp--preset--color--primary);
			padding: var(--wp--custom--button--spacing-vertical) var(--wp--custom--button--spacing-horizontal);

			&:hover {
				background-color: var(--wp--preset--color--secondary);
				color: var(--wp--preset--color--base);
			}
		}
	}

}