<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-content"} -->
<main class="wp-block-group site-content">

	<!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
    <article class="wp-block-group">

		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	</article>
    <!-- /wp:group -->
	 
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->